// Typography.scss

@font-face {
    font-family: var(--font-family);
    font-weight: normal;
    src: url("../fonts/bookman_old_style_regular.woff2") format("woff2");
}

@font-face {
    font-family: var(--font-family);
    font-weight: bold;
    src: url("../fonts/bookman_old_style_bold.woff2") format("woff2");
}

@font-face {
    font-family: var(--font-family-heading);
    font-style: normal;
    src: url("../fonts/montserrat_variable.ttf") format("ttf");
}

@font-face {
    font-family: var(--font-family-heading);
    font-style: italic;
    src: url("../fonts/montserrat_italic_variable.ttf") format("ttf");
}

html, .font\:default {
    font-family:    var(--font-family), serif;
    * {
        line-height: calc(var(--font-ratio) * var(--font-ratio));
    }
}

h1, h2, h3, h4, h5, h6, .font\:heading {
    font-family:    var(--font-family-heading), sans-serif;
}

:root {
    --font-size-h1:      calc(var(--font-base) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio)); 
    --font-size-h2:      calc(var(--font-base) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio)); 
    --font-size-h3:      calc(var(--font-base) * var(--font-ratio) * var(--font-ratio)); 
    --font-size-h4:      calc(var(--font-base) * var(--font-ratio)); 
    --font-size-default: var(--font-base); 
    --font-size-h5:      calc(var(--font-base) * calc(var(--font-ratio) * 0.7)); 
    --font-size-h6:      calc(var(--font-base) * calc(var(--font-ratio) * 0.6)); 
}

h1, .font-size\:h1 {
    font-size:      var(--font-size-h1);
}

h2, .font-size\:h2 {
    font-size:      var(--font-size-h2);
}

h3, .font-size\:h3 {
    font-size:      var(--font-size-h3);
}

h4, .font-size\:h4 {
    font-size:      var(--font-size-h4);
}

html, .font-size\:default {
    font-size:      var(--font-size-default);
}

h5, .font-size\:h5 {
    font-size:      var(--font-size-h5);
}

h6, .font-size\:h6 {
    font-size:      var(--font-size-h6);
}

h5, h6,
    .font-size\:h5,
    .font-size\:h6 {
    letter-spacing: calc(var(--font-base) / 8);
}

br {
    content: " ";
    display: block;
    height: var(--font-base);
}