
// Dependencies

@use "sass:color";

    /* var */                    /* value */

:root {

    // Animations

    --animation-default:        200ms ease;

    // Fonts

    --font-family-heading:      'fontbmheading';
    --font-family:              'fontbmdefault';

    --font-base:                18px;
    @media (max-width: 768px) {
        & {
            --font-base:        16px;
        }
    }

    --font-ratio:               calc(4 / 3);    // 18px * 1.333 ^ x

    --font-width:               50ch;           // characters per line

    // Palette

    --palette-background:     hsl(0, 0%, 4%);
    --palette-foreground:     hsl(0, 0%, 98%);
    --palette-gray-dark:        #{color.scale(#fafafa, $lightness: -80%)};
    --palette-gray-light:       #{color.scale(#0a0a0a, $lightness: 80%)};
    --palette-accent:         #36aea7;

    // Size

    --size-max-width:           1200px;
    --size-max-width-large:     1600px;
}