
// Dependencies

@use "sass:color";

    /* var */                    /* value */

:root {

    // Animations

    --animation-default:        200ms ease;

    // Fonts

    /* --font-family-heading:      'fontbmheading'; */
    --font-family-heading:      'Montserrat';
    --font-family:              'Bookman Old Style';

    --font-base:                18px;
    @media (max-width: 768px) {
        & {
            --font-base:        16px;
        }
    }

    --font-ratio:               calc(4 / 3);    // 18px * 1.333 ^ x

    --font-width:               50ch;           // characters per line

    // Palette
    $palette-background:      #000;
    $palette-foreground:      hsl(0, 0%, 96%);
    --palette-background:       #{$palette-background};
    --palette-foreground:       #{$palette-foreground};
    --palette-gray-dark:        #{color.scale($palette-foreground, $lightness: -80%)};
    --palette-gray-light:       #{color.scale($palette-background, $lightness: 80%)};
    --palette-accent:         hsl(177, 53%, 44%);
    --palette-accent-darker:  hsl(177, 83%, 28%);

    // Size

    --size-max-width:           1214px;
    --size-max-width-large:     1600px;
}