* {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

*::-webkit-scrollbar {
    width: calc(var(--font-base) * 0.75);
    height: calc(var(--font-base) * 0.75);
    background-color: hsla(0, 0%, 98%, 0.05);
    cursor: default;
    will-change: position;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
    cursor: default;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--palette-gray-dark);
    transition: background-color var(--animation-default);
    &:hover{
        background-color: var(--palette-gray-light);
    }
    cursor: default;
}