.link::after {
    content: '';
    position: absolute;
    left: 0; right: 0;
    bottom: 0;
    transform-origin: center bottom;
    height: calc(var(--font-base) * 0.1);
    background-color: var(--palette-accent);
    transition: transform var(--animation-default);
}

.link {
    position: relative;
    &.animated::after {
        transform: scaleX(0) scaleY(0);
    }
    &.animated:hover:after {
        transform: scaleX(1);
    }
    &.animated.big:hover:after {
        transform: scaleX(1) scaleY(2);
    }
}