.input {
    font-family: var(--font-family-heading);
    min-height: calc(var(--font-base) * 2.25);
    font-size: calc(var(--font-base) * 0.9);
    border: none;
    outline: none;
    border-radius: 5px;
    /* max-width: 472px; */
    &.text {
        background-color: var(--palette-foreground);
        color: var(--palette-background);
        cursor: text;
        padding: calc(var(--font-base) * 0.75);
        font-weight: 500;
        &.textarea {
            resize: none;
        }
    }
    &.button {
        height: calc(var(--font-base) * 2.75);
        cursor: pointer;
        & > span {
            font-weight: 600;
            font-size: var(--font-base);
            filter: drop-shadow(0px 4px 8px hsla(0, 0%, 0%, 0.8));
        }
        &.padding {
            width: fit-content;
            padding: 0 calc(var(--font-base) * 4);
        }

        transition: none var(--animation-default);
        transition-property: background-color, box-shadow, color;
        // Style
        background-color: var(--palette-accent);
        & > span {
            color: var(--palette-foreground);
            transition: none var(--animation-default);
            transition-property: transform, color, filter;
            display: inline-block;
        }
        box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 4px rgba(0, 0, 0, 0.25);
        &:hover {
            box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.25), inset 0px -4px 8px rgba(0, 0, 0, 0.25);
            & > span {
                color: var(--palette-foreground);
                filter: drop-shadow(0px 6px 12px hsla(0, 0%, 0%, 1));
            }
        }
        &:active , &:focus, &:focus-within, &:target {
            background-color: var(--palette-accent-darker);
            box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            & > span {
                color: var(--palette-foreground);
                transform: translateY(2px);
                filter: drop-shadow(0px 0px 6px hsla(0, 0%, 0%, 0.7));
            }
        }
    }
}