:root {
    --fullheight: calc(100vh - var(--topbar-size));
}

.wrapper.viewingStatus {
    height: var(--fullheight);
    overflow: hidden;
}

body {
    background-color: var(--palette-background);
    color: var(--palette-foreground);
    
    &.is-preload {
        *, *:before, *:after {
            animation: none!important;
            transition: none!important;
        }
        
    }
}

/* DEBUG */
body[outline] {
    *, *::before, *::after {
        outline: 0.2rem solid hsl(321deg 50% 50% / 25%)!important;
    }
}

/* TEMP */

/* p {
    max-width: 50ch;
} */

section {

    /* Grid */
    display: grid;
    justify-items: center;

    /* Size */
    min-height: var(--fullheight);
    height: auto;
    width: 100%;

    /* Position */
    position: relative;

    & > * {

        /* Position */
        grid-column: 1;
        grid-row: 1;
        position: relative;

        /* Size */
        width: 100%;
        height: 100%;

    }

    .background::before {
        content: '';
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: grayscale(1) brightness(0.35);
    }
    .background:after {
        content: '';
        display: block;
        position: absolute;
        opacity: 0.15;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .content {
        padding: calc(var(--font-base) * 4) calc(var(--font-base) * 1);
        @media (min-width: 426px) {
            & {
                padding: calc(var(--font-base) * 4) calc(var(--font-base) * 2);
            }
        }
        max-width: var(--size-max-width);
        gap: calc(var(--font-base) * 1.5);
        .title {
            font-weight: 600;
            font-size: calc(var(--font-base) * 3.55);
            @media (max-width: 425px) {
                font-size: calc(var(--font-base) * 2.5);
            }
            line-height: 78px;
        }
        .body {
            font-weight: 400;
            font-size: calc(var(--font-base) * 1.22);
            line-height: 32px;
        }
    }
    &:first-of-type {
        .content {
            padding-top: calc(var(--font-base) * 4 + 100px);
        }
    }
}

section.statusForm {
    background-color: var(--palette-background);
    position: fixed;
    top: var(--topbar-size);
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

section.home {
    position: relative;

    min-height: 100vh;

    .background::before {
        @media (orientation: landscape) { & {
            background-image: url('../img/home_desktop.webp');
        }}
        @media (orientation: portrait) { & {
            background-image: url('../img/home_mobile.webp');
        }}
    }

    .background:after {
        background: linear-gradient(120deg, transparent, var(--palette-accent-darker));
    }

    .content {
        display: grid;
        align-content: center;
        gap: 5vh;
        .title, .subtitle {
            filter: drop-shadow(0px 3px 6px hsla(0, 0%, 0%, 0.5));
            @media (max-width: 425px) {
                & {
                    font-size: calc(var(--font-base) * 2.3);
                    text-align: center;
                    line-height: 1.35;
                }
            }
        }
        .title {
            text-transform: uppercase;
            font-size: calc(var(--font-base) * 3);
        }
        .subtitle {
            max-width: 30ch;
            @media (max-width: 425px) {
                & {
                    font-size: calc(var(--font-base) * 1.35);
                    text-align: center;
                    line-height: 1.35;
                }
            }
        }
        /* @media (max-width: 768px) {
            .title, .subtitle {
                font-size: var(--font-size-h4);
            }
            .subtitle {
                font-size: var(--font-size-h5);
            }
        } */
    }

}

section.about {
    .content {
        display: grid;
        min-height: var(--fullheight);

        align-content: center;
        .body p b {
            font-weight: 500;
        }
    }
}

section.team, section.services {

    min-height: auto;
    height: auto;
    max-width: unset;

    .content {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
        max-width: var(--size-max-width-large);
        & > .title {
            width: 100%;
            max-width: var(--size-max-width);
            justify-self: center;
        }
    }

    @media (min-width: 768px) and (min-height: 768px) {
        min-height: var(--fullheight);
        .content {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            .title, .cards {
                grid-column: 1;
                grid-row: 1;
            }
            .cards {
                place-self: center;
            }
        }
    }
}

section.services {
    background-color: #fafafa;
    .background::before {
        @media (orientation: landscape) { & {
            background-image: url('../img/services_desktop.webp');
        }}
        @media (orientation: portrait) { & {
            background-image: url('../img/services_mobile.webp');
        }}
        opacity: 0.4;
        filter: grayscale(1) brightness(0.8) blur(3px);
        background-attachment: fixed;
    }

    .background:after {
        background: linear-gradient(120deg, transparent, var(--palette-accent-darker));
    }
}
section.contact {
    @media (min-width: 1024px) {
        background: linear-gradient(90deg, var(--palette-foreground) 0%, var(--palette-foreground) 50%, var(--palette-background) 50%, var(--palette-background) 100%);
    }
     
    * {font-family: var(--font-family-heading);}

    .content {
        display: grid;

        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
        "title"
        "description"
        "short-description"
        "formspree"
        "direct"
        "socials";

        @media (min-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, auto);
            grid-template-areas:
            "title title"
            "description formspree"
            "short-description formspree"
            "direct socials";
        }

        .title { grid-area: title; }
        .description { grid-area: description; }
        .short-description { grid-area: short-description; }
        .direct { grid-area: direct; }
        .formspree { grid-area: formspree; }
        .socials { grid-area: socials; }

        .socials img, .socials a img, .direct img, .direct a img {
            width: calc(var(--font-base) * 1.5);
            aspect-ratio: 1 / 1;
            height: auto;
            display: block;
        }

        .direct {
            display: grid;
            grid-auto-flow: row;
            align-content: center;
            gap: calc(var(--font-base) * 0.5);
            a, a p, a span {
                text-align: center;
                font-weight: 500;
            }
            .link-alt {
                display: grid;
                grid-auto-flow: column;
                align-content: center;
                justify-content: center;
                align-items: center;
                gap: calc(var(--font-base) * 0.5);
                img {
                    transform: translateY(-2px);
                }
            }
        }

        .short-description {
            font-weight: 700;
        }

        .formspree {
            display: grid;
            width: 90%;
            justify-self: center;
            height: 100%;
            justify-items: center;

            align-content: center;
            align-items: center;
            gap: var(--font-base);
            .input.text {
                width: 100%;
            }
            @media (max-width: 425px) {
            .input.button {
                width: 100%;
            }
            }
            @media (min-width: 426px) {
                .input.button {
                    justify-self: end;
                }
                }
            .input.text {
                @media (max-width: 1023px) {
                    /* outline-width: calc(var(--font-base) * 0.13);
                    outline-color: var(--palette-gray-dark);
                    outline-style: solid; */
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
            }
        }

        .socials {
            @media (min-width: 1024px) {
                filter: invert(1);
            }
            a {
                width: calc(var(--font-base) * 2.5);
                aspect-ratio: 1 / 1;
                height: auto;
                display: grid;
                place-items: center;
            }
            display: grid;
            grid-auto-flow: column;
            place-content: center;
            gap: calc(var(--font-base) * 1.5);
        }
    }
    
}