.wrapper.viewingStatus {
    height: 100vh;
    overflow: hidden;
}

body {
    background-color: var(--palette-background);
    color: var(--palette-foreground);
    
    &.is-preload {
        *, *:before, *:after {
            animation: none!important;
            transition: none!important;
        }
        
    }
}

/* DEBUG */
body[outline] {
    *, *::before, *::after {
        outline: 0.2rem solid hsl(321deg 50% 50% / 25%)!important;
    }
}

/* TEMP */

/* p {
    max-width: 50ch;
} */

section {

    /* Grid */
    display: grid;
    justify-items: center;

    /* Size */
    min-height: 100vh;
    height: auto;
    width: 100%;

    /* Position */
    position: relative;

    & > * {

        /* Position */
        grid-column: 1;
        grid-row: 1;
        position: relative;

        /* Size */
        width: 100%;
        height: 100%;

    }

    .background::before {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: grayscale(1) brightness(0.35);
    }
    .content {
        padding: calc(var(--font-base) * 4) calc(var(--font-base) * 1);
        @media (min-width: 426px) {
            & {
                padding: calc(var(--font-base) * 4) calc(var(--font-base) * 2);
            }
        }
        max-width: var(--size-max-width);
        gap: calc(var(--font-base) * 1.5);
        .title {
            font-weight: 600;
            font-size: calc(var(--font-base) * 3.55);
            @media (max-width: 425px) {
                font-size: calc(var(--font-base) * 2.5);
            }
            line-height: 78px;
        }
        .body {
            font-weight: 300;
            font-size: calc(var(--font-base) * 1.22);
            line-height: 32px;
        }
    }
    &:first-of-type {
        .content {
            padding-top: calc(var(--font-base) * 4 + 100px);
        }
    }
}

section.statusForm {
    background-color: var(--palette-background);
    position: fixed;
    top: var(--topbar-size);
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

section.home {
    position: relative;

    .background::before {

        content: '';
        display: block;
        position: relative;
        width: 100%;
        height: 100%;


        @media (orientation: landscape) { & {
            background-image: url('../img/home_desktop.webp');
        }}
        @media (orientation: portrait) { & {
            background-image: url('../img/home_mobile.webp');
        }}
    }

    .background:after {
        content: '';
        display: block;
        position: absolute;
        background: linear-gradient(to right, transparent, var(--palette-accent));
        opacity: 0.15;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .content {
        display: grid;
        align-content: center;
        gap: 5vh;
        .title, .subtitle {
            filter: drop-shadow(0px 3px 6px hsla(0, 0%, 0%, 0.5));
            @media (max-width: 425px) {
                & {
                    font-size: calc(var(--font-base) * 2.5);
                    text-align: center;
                    line-height: 1.35;
                }
            }
        }
        .subtitle {
            max-width: 30ch;
            @media (max-width: 425px) {
                & {
                    font-size: calc(var(--font-base) * 1.35);
                    text-align: center;
                    line-height: 1.35;
                }
            }
        }
        /* @media (max-width: 768px) {
            .title, .subtitle {
                font-size: var(--font-size-h4);
            }
            .subtitle {
                font-size: var(--font-size-h5);
            }
        } */
    }

}

section.about {
    .content {
        display: grid;
        min-height: calc(100vh - var(--topbar-size));

        align-content: center;
    }
}

section.team {

    min-height: auto;
    height: auto;

    @media (min-width: 768px) {
        min-height: 100vh;
    }

    .content {
        display: grid;
        grid-template-rows: auto 1fr;
        .body {
            display: grid;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            grid-auto-flow: column;

            height: 216px;
            gap: calc(var(--font-base) * 1);

            @media (min-width: 425px) {
                height: 308px;
            }
            @media (min-width: 768px) {
                height: 400px;
                gap: calc(var(--font-base) * 2);
            }

            .active {
                scroll-snap-type: none;
            }

            .person {
                scroll-snap-stop: always;
                height: 90%;
                aspect-ratio: 4 / 3;
                width: auto;
                background-color: hsla(0, 0%, 98%, 0.1);
                scroll-snap-align: center;
                scroll-margin: var(--font-base);
                border-radius: 5px;
            }
        }
    }
}