footer {
    /* Size */
    height: 3.5rem;

    /* Grid */
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 24px repeat(2, 1fr) 24px;
}

footer .copyright {
    grid-column: 3;
    font-family: var(--font-family-heading);
    font-size: 0.7rem;
}